//-
  | Mandatory:
  |   post: Post
  |     The post that is edited.
  |     May be empty (but not null) to allow creating new posts, in which case the id must be -1.
  |   categoryString: String
  |     A string of all categories, comma-separated.

form(name="edit", action=basePath + "post/edit", method="post")
  input(type="hidden", name="id", value=post.id)

  label(for="title") Title:
  input(type="text", name="title", value=post.title)

  br

  label(for="categories") Categories:
  input(type="text", name="categories", value=categoryString)

  br

  textarea(name="content", rows="6", cols="50")= post.content

  br

  input(type="submit", value="Post")