//-
  | Mandatory:
  |   post: Post
  |     The viewed post.
  |   formattedPublishingDate: String
  |     The publishing date of the post, properly formatted.
  |   formattedLastEdit: String
  |     The last edit of the post, properly formatted.

h1= post.title
p Published on #{formattedPublishingDate}. Last edit: #{formattedLastEdit}.
div!= post.compiledContent
p Written by
  a(href=basePath + "user/profile/" + post.author.id) #{post.author.username}
  | .